#eclise
RemoteSystemsTempFiles/
.metadata/
.settings/
.cproject
.project

#qt creator 
#*.config
#*.creator
*.creator.user
#*.files
#*.includes

#common
*.o
*~
*.so
*.swp
.*.swp

#bin
tdm/tdm
test/test
