#eclise
RemoteSystemsTempFiles/
.metadata/
.settings/
.cproject
.project

#qt creator 
#*.config
#*.creator
*.creator.user
#*.files
#*.includes 
#common
*.o
*~
*.so
*.so.*
*.swp
.*.swp

#bin
tdm/tdm
tdebug/tdebug
texec/texec
